<!-- START BLOCK : installed -->
<h2 style="color: #779900">Certifikát je nainstalován {DELETE_FORM}</h2>
<!-- END BLOCK : installed -->

<!-- START BLOCK : not-installed -->
<h2 style="color: #ff0048">Nainstalujte certifikát</h2>
<!-- END BLOCK : not-installed -->

<hr>

{FORM}