<table>
	<tr>
		<td>{FORM}</td>
		<td style="width: 50%; text-align: center">
			{RECEIPT}<br>
			{PDF_LINK} {NOTIFY_LINK}<br>
		</td>
	</tr>
</table>

<script type="text/javascript">
	// new Calendar('frm-dat_odesl', 'frm-dat_odesl', 'Y-m-d h:i:s');
</script>